<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <pages>
       
        <!--http://weblogs.asp.net/scottgu/archive/2006/11/26/tip-trick-how-to-register-user-controls-and-custom-controls-in-web-config.aspx-->
        <controls>          
          <add tagPrefix="bbi" src="~/BBI-Admin/controls/SimpleStatistics.ascx" tagName="Statistics"/>
        </controls>
      </pages>
    </system.web>
  
</configuration>
