<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ArticlesEntities" connectionString="metadata=res://*/Navigation.SiteMapModel.csdl|res://*/Navigation.SiteMapModel.ssdl|res://*/Navigation.SiteMapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CHRISLOVE-PC;Initial Catalog=BBICMSVB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ShoppingEntities" connectionString="metadata=res://*/Store.ShoppingModel.csdl|res://*/Store.ShoppingModel.ssdl|res://*/Store.ShoppingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BBICMS;user id=sa;password=nopassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GalleryEntities" connectionString="metadata=res://*/Gallery.GalleryModel.csdl|res://*/Gallery.GalleryModel.ssdl|res://*/Gallery.GalleryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CHRISLOVE-PC;Initial Catalog=BBICMSVB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SiteMapEntities" connectionString="metadata=res://*/Navigation.SiteMapModel.csdl|res://*/Navigation.SiteMapModel.ssdl|res://*/Navigation.SiteMapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CHRISLOVE-PC;Initial Catalog=BBICMSVB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>