<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="theBeerHouse" type="BBICMSSection, BBICMSBLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
  <theBeerHouse defaultConnectionStringName="BBICMSEntities" siteDomainName="[SiteDomain]">
    <contactForm mailTo="thebeerhouse@wrox.com" />
    <articles pageSize="10" akismetKey="[Key]" enableAkismet="true" enableTwitter="true" twitterUrserName="[TwitterUserName]" twitterPassword="[Password]" />
    <polls votingLockByIP="false" archiveIsPublic="true" />
    <newsletters fromEmail="thebeerhouse@wrox.com" fromDisplayName="BBICMS" hideFromArchiveInterval="10" archiveIsPublic="true" />
    <forums threadsPageSize="8" hotThreadPosts="10" bronzePosterPosts="10" silverPosterPosts="20" goldPosterPosts="50" />
    <store pageSize="10" sandboxMode="true" businessEmail="thebeerhouse@wrox.com" photosDirectory="Content/Uploads/Products/Photos/" photosThumbDirectory="Content/Uploads/Products/Photos/ThumbNails/" productThumbDirectory="Content/Uploads/Products/Thumbnails/" thumbWidth="320" thumbHeight="217" photoThumbW="80" photoThumbH="80" displayHeight="100" displayWidth="650" />
    <gallery thumbWidth="80" />
    <calendar urlIndicator="Events" />
  </theBeerHouse>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add name="LocalSqlServer" connectionString="data source=calantha.arvixe.com;Initial Catalog=hnztemplate;Persist Security Info=True;User ID=tinadmin;Password=6ybsju6219" providerName="System.Data.SqlClient" />
    <add name="BBICMSEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;data source=calantha.arvixe.com;Initial Catalog=hnztemplate;Persist Security Info=True;User ID=tinadmin;Password=6ybsju6219;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BBICMSEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=BBICMS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BBICMS;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--<globalization uiCulture="zh" culture="zh-CN"/>-->
    <httpRuntime requestValidationMode="2.0" />
    <pages maintainScrollPositionOnPostBack="true" clientIDMode="Static">
      <!--http://weblogs.asp.net/scottgu/archive/2006/11/26/tip-trick-how-to-register-user-controls-and-custom-controls-in-web-config.aspx-->
      <controls>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=3.0.20820.16598, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add tagPrefix="asp" namespace="BBICMS.Web.UI" assembly="BBICMSBLL, Version=3.5.0.1, Culture=neutral, PublicKeyToken=null" />
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2" />
        <add tagPrefix="uc1" src="~/controls/PollBox.ascx" tagName="PollBox" />
        <add tagPrefix="uc1" src="~/controls/ShoppingCartBox.ascx" tagName="ShoppingCartBox" />
        <add tagPrefix="uc1" src="~/controls/Featuredproduct.ascx" tagName="Featuredproduct" />
        <add tagPrefix="uc1" src="~/controls/NewsletterBox.ascx" tagName="NewsletterBox" />
        <add tagPrefix="bbi" src="~/controls/FooterCopyright.ascx" tagName="FooterCopyright" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" loginUrl="~/AccessDenied.aspx" name="TBHFORMAUTH" />
    </authentication>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="TBH_RoleProvider">
      <providers>
        <add connectionStringName="LocalSqlServer" applicationName="/" name="TBH_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <anonymousIdentification cookieless="AutoDetect" enabled="true" />
    <profile defaultProvider="TBH_ProfileProvider">
      <providers>
        <add name="TBH_ProfileProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <properties>
        <add name="FullName" type="String" />
        <add name="Gender" type="String" />
        <add name="BirthDate" type="DateTime" />
        <add name="Occupation" type="String" />
        <add name="Website" type="String" />
        <add name="ShoppingCart" type="BBICMS.Store.ShoppingCart" serializeAs="Binary" allowAnonymous="true" />
        <group name="Forum">
          <add name="Posts" type="Int32" />
          <add name="AvatarUrl" type="String" />
          <add name="Signature" type="String" />
        </group>
        <group name="Address">
          <add name="Street" type="String" />
          <add name="PostalCode" type="String" />
          <add name="City" type="String" />
          <add name="State" type="String" />
          <add name="Country" type="String" />
        </group>
        <group name="Contacts">
          <add name="Phone" type="String" />
          <add name="Fax" type="String" />
        </group>
        <group name="Preferences">
          <add name="Theme" type="String" allowAnonymous="true" />
          <add name="Culture" type="String" defaultValue="zh-CN" />
          <add name="Newsletter" type="BBICMS.Newsletters.SubscriptionType" />
        </group>
      </properties>
    </profile>
    <machineKey validationKey="287C5D125D6B7E7223E1F719E3D58D17BB967703017E1BBE28618FAC6C4501E910C7E59800B5D4C2EDD5B0ED98874A3E952D60BAF260D9D374A74C76CB741803" decryptionKey="5C1D8BD9DF3E1B4E1D01132F234266616E0D5EF772FE80AB" validation="SHA1" />
    <membership defaultProvider="TBH_MembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="TBH_MembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <!--
            <add name="TBH_MembershipProviderEx"
          connectionStringName="LocalSqlServer"
          applicationName="/"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          requiresUniqueEmail="true"
          passwordFormat="Encrypted"
          maxInvalidPasswordAttempts="5"
          passwordAttemptWindow="10"
          minRequiredPasswordLength="5"
          minRequiredNonalphanumericCharacters="0"
          type="MB.BBICMS.DAL.SqlClient.SqlMembershipProviderEx, __code"
            />
            -->
      </providers>
    </membership>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/GenericError.aspx?code=404" />
      <error statusCode="408" redirect="~/GenericError.aspx?code=408" />
      <error statusCode="505" redirect="~/GenericError.aspx?code=505" />
    </customErrors>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <location path="AddEditPost.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Editors,Moderators,Posters" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EditProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrderHistory.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BBI-Admin">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="clove@extremewebworks.com">
        <network host="mail.extremewebworks.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^Department_([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="BrowseProducts.aspx?DepartmentID={R:1}" />
        </rule>
        <rule name="RewriteUserFriendlyURL7" stopProcessing="true">
          <match url="^Department_([^/]+)/Page_([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="BrowseProducts.aspx?DepartmentID={R:1}&amp;Page={R:2}" />
        </rule>
        <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
          <match url="^Products/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="ShowDepartments.aspx" />
        </rule>
        <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
          <match url="^About/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="About.aspx" />
        </rule>
        <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
          <match url="^Articles/Article_([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="ShowArticle.aspx?Articleid={R:1}" />
        </rule>
        <rule name="RewriteUserFriendlyURL5" stopProcessing="true">
          <match url="^Store/Product_([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="ShowProduct.aspx?ProductId={R:1}" />
        </rule>
                <rule name="RewriteUserFriendlyURL6" stopProcessing="true">
                    <match url="^Page_([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Default.aspx?Page={R:1}" />
                </rule>
                <rule name="RewriteUserFriendlyURL8" stopProcessing="true">
                    <match url="^Contact/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Contact.aspx" />
                </rule>
      </rules>
    </rewrite>
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
</configuration>